services:
  postgres:
    image: postgres:15-alpine
    container_name: airaware-db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: airaware_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:alpine
    container_name: airaware-cache
    ports:
      - "6379:6379"
    restart: always

volumes:
  postgres_data: